<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Documents" type="ConfigSection.DocumentInstances, ConfigSection">
			<section name="Original" type="ConfigSection.OriginalInstance, ConfigSection"/>
			<section name="Duplicated" type="ConfigSection.Duplicated, ConfigSection"/>
		</sectionGroup>
		<section name="CustomApplicationConfig" type="ConfigSection.CustomApplicationConfigSection, ConfigSection" />
		<section name="BlogSettings" type="ConfigSection.BlogSettings, ConfigSection" />

		<section name="DataExtractorConfigSection" type="Infineon.DataAnalysis.eSquare.Server.DataColumnExtractor.Configuration.DataExtractorConfigSection, 
				 Infineon.DataAnalysis.eSquare.Server.DataColumnExtractor.Configuration"/>

	</configSections>
	<BlogSettings frontPagePostCount="10" title="You’ve Been Haacked" />

	<CustomApplicationConfig>
		<Credentials Username="itsme" Password="mypassword"/>
		<PrimaryAgent Address="10.5.64.26" Port="3560"/>
		<SecondaryAgent Address="10.5.64.7" Port="3570"/>
		<Site Id="123" />
		<Lanes>
			<Lane Id="1" PointId="north" Direction="Entry"/>
			<Lane Id="2" PointId="south" Direction="Exit"/>
		</Lanes>
	</CustomApplicationConfig>

	<DataExtractorConfigSection>
		<SqlDataExtractorConfiguration ExtractorServiceUrl="http://vm-ifxebs:9408/SqlDataColumnExtractor/ExtractionService" ConnectionTimeout="60" StatusTimeout="60" />
	</DataExtractorConfigSection>

	<Documents>
		<Original name="original name" original="originalData"/>
		<Duplicated name="duplicated name" duplicated="duplicatedData"/>
	</Documents>
</configuration>

